{% load static %}

<div id="fh5co-couple">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>Hello!</h2>
                <h3 style="color: #4169E1;">22-03-2024, Vijayawada</h3>
                <p>We invited you to celebrate our wedding</p>
            </div>
        </div>
        <div class="couple-wrap animate-box">
            <div class="couple-half">
                <div class="groom">
                    <img src="{% static 'images/rahul3.JPG' %}" alt="groom" class="img-responsive">
                </div>
                <div class="desc-groom">
                    <h3>Rahul Varma</h3>
                    <p>Senior Consultant(Infosys), Hyderabad. <br>
                        S/O Smt. Vijaya Durga & Sri. Venkata Subbarao</p>
                </div>
            </div>
            <p class="heart text-center"><i class="icon-heart2"></i></p>
            <div class="couple-half">
                <div class="bride">
                    <img src="{% static 'images/lalitha.jpg' %}" alt="groom" class="img-responsive">
                </div>
                <div class="desc-bride">
                    <h3>Uma Naga Venkata SriLalitha</h3>
                    <p>System Engineer(TCS), Hyderabad. <br>
                        S/O Smt. Meenakshi & Sri. Arjuna Murthy</p>
                </div>
            </div>
        </div>
    </div>
</div>