{% extends 'base.html' %}
{% load static %}


{% block content %}

{% include 'includes/navbar.html' %}

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

  <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
<header id="fh5co-header" class="fh5co-cover" role="banner";
        style="background-image:url({% static 'images/banner.jpg' %}); " data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">

                        <br><br><br><br><h1>Rahul &amp; SriLalitha</h1>



                        <!-- Button to open the pop-up -->

<br><br><button class="play-btn" onclick="openVideo()" ></button>




                        <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
<h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px; ">We're getting married<br> 22-03-2024</h3>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</div>
          <div class="carousel-item" data-bs-interval="2000">
<header id="fh5co-header" class="fh5co-cover" role="banner";
        style="background-image:url({% static 'images/rings1.jpg' %}); " data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">

                        <br><br><br><br><h1>Rahul &amp; SriLalitha</h1>



                        <!-- Button to open the pop-up -->

<br><br><br><button class="play-btn" onclick="openVideo()"></button>


                        <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
<h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px; ">We're getting married<br><br> 22-03-2024</h3>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
  </div>

       <div class="carousel-item" data-bs-interval="2000">
<header id="fh5co-header" class="fh5co-cover" role="banner";
        style="background-image:url({% static 'images/firsttalk1.jpg' %}); " data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">

                        <br><br><br><br><h1>Rahul &amp; SriLalitha</h1>



                        <!-- Button to open the pop-up -->

<br><br><br><button class="play-btn" onclick="openVideo()"></button>


                        <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
<h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px; ">We're getting married<br><br> 22-03-2024</h3>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
  </div>
      <div class="carousel-item" data-bs-interval="2000">
<header id="fh5co-header" class="fh5co-cover" role="banner";
        style="background-image:url({% static 'images/us.jpeg' %}); " data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">

                        <br><br><br><br><h1>Rahul &amp; SriLalitha</h1>



                        <!-- Button to open the pop-up -->

<br><br><br><button class="play-btn" onclick="openVideo()"></button>


                        <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
<h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px; ">We're getting married<br><br> 22-03-2024</h3>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
  </div>


       <div class="carousel-item" data-bs-interval="2000">
<header id="fh5co-header" class="fh5co-cover" role="banner";
        style="background-image:url({% static 'images/marriagebanner.jpg' %}); " data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">

                        <br><br><br><br><h1>Rahul &amp; SriLalitha</h1>



                        <!-- Button to open the pop-up -->

<br><br><br><button class="play-btn" onclick="openVideo()"></button>


                        <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
<h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px; ">We're getting married<br><br> 22-03-2024</h3>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
  </div>

    <!-- The pop-up overlay -->
<div id="videoOverlay" class="overlay">
    <!-- Video container -->
    <div class="video-container">
        <!-- Close button -->
        <span class="close-btn" onclick="closeVideo()">&times;</span>
        <!-- Actual video embed code (replace with your video source) -->
        <iframe width="360" height="360" src="https://www.youtube.com/embed/bqbWbSJpkfI?si=i3ujdKGJBywkhuTy?autoplay=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
</div>

    </div>
{% include 'includes/details.html' %}

<div id="fh5co-event" class="fh5co-bg" style="background-image:url({% static 'images/img_bg_3_1.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>Our Special Events</span>
                <h2>Wedding Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Engagement</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>10:30 AM to 12:30 AM</span>

                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Tue, 10</span>
                                    <span>Feb, 2024</span>
                                </div>
                                <i class="icon-location"></i>
                                <a href="https://maps.app.goo.gl/GEotxJepbpnJo1eCA" target="_blank"><p>SVLT Sai Nadha Kalyana Mandapam
                                    </p></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Marriage</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>09:35 PM</span>

                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Friday, 22</span>
                                    <span>March, 2024</span>
                                </div>
                                <i class="icon-location"></i>
                                <a href="https://maps.app.goo.gl/tP1Jk3rjr4Q5FTaP9?g_st=iw" target="_blank"><p>Asha Function Hall, Donkaroad, Vijayawada</p></a>

                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-couple-story">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>We Love Each Other</span>
                <h2>Our Story</h2>
                <p>“A successful marriage requires falling in love many times, always with the same person.” — Mignon
                    McLaughlin</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline animate-box">
                    <li class="animate-box">
                        <div class="timeline-badge"
                             style="background-image:url({% static 'images/firstmet.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Pelli Chupulu</h3>
                                <span class="date">December 23, 2023</span>
                            </div>
                            <div class="timeline-body">
                                <p>On that special day, with god and parents blessings we met together and fall in love. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"
                             style="background-image:url({% static 'images/firsttalk.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Engagement</h3>
                                <span class="date">February 10, 2024</span>
                            </div>
                            <div class="timeline-body">
                                <p>We started the journey of being bonded together forever, with a broad smile on our faces and by holding each other's hands tightly. </p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box">
                        <div class="timeline-badge"
                             style="background-image:url({% static 'images/memories.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Memories</h3>
                                <h3> &infin; </h3>
                            </div>
                            <div class="timeline-body">
                                <p>We created Innumerous memories as part of the journey and we are not going to stop it. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"
                             style="background-image:url({% static 'images/marriage.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Marriage</h3>
                                <span class="date">March 22, 2024</span>
                            </div>
                            <div class="timeline-body">
                                <p>Tying 3 knots - Manasa, Vaacha, karmena and holding pinkies together to continue the
                                    journey of lifetime.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-gallery" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>Our Memories</span>
                <h2>Wedding Gallery</h2>
                <p>We are capturing the whole event and uploading here to rewatch &#128525; </p>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-12">

                        <a href="{% url 'engagementpics' %}">
                           <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

  <div class="carousel-inner">
{% for image in images %}
      {% if forloop.counter == 1 %}
    <div class="carousel-item active" data-bs-interval="10000">
    {% else %}
        <div class="carousel-item" data-bs-interval="2000">
            {% endif %}
      <img src="{{ image.image.url }}" class="d-block w-100" alt="...">

    </div>
 {% endfor %}

  </div>
</div>
                        </a>

            </div>
        </div>
    </div>
</div>


<div id="fh5co-services" class="fh5co-section-gray">
    <div class="container">

        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>The Countdown is on...</h2>
                <p> Your presence at our wedding was a blessing that we will cherish forever. See you there&#x1F60A; </p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-clock"></i>
						</span>
                    <div class="feature-copy">
                        <h3>Marriage Time</h3>
                        <p>09:35 PM, Friday, 22 March 2024</p>


                    </div>
                </div>


                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-location"></i>
						</span>
                    <div class="feature-copy">
                        <h3>Venue Details</h3>
                        <a href="https://maps.app.goo.gl/tP1Jk3rjr4Q5FTaP9?g_st=iw" target="_blank"><p> Asha Function Hall, Vijayawada. </p></a>

                    </div>
                </div>

            </div>

            <div class="col-md-6 animate-box text-center">

                <p></p>
                <p></p>
               <div class="simply-countdown simply-countdown-one"></div>


            </div>
        </div>
    </div>


</div>
</div>



</div>


</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- countTo -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>

<!-- Stellar -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup-options.js' %}"></script>

<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
<script src="{% static 'js/simplyCountdown.js' %}"></script>
<!-- Main -->
<script src="{% static 'js/main.js' %}"></script>

<script>
    var d = new Date(new Date().getTime() + 200 * 120 * 120 * 2000);

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: 2024,
    month: 3,
    day: 23,
    hours: 3,
     minutes: 5,
     seconds: 0,
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });


    // Function to open the video pop-up
    function openVideo() {
        document.getElementById('videoOverlay').style.display = 'flex';
        $('body').css("overflow", "hidden");
    }

    // Function to close the video pop-up
    function closeVideo() {
        document.getElementById('videoOverlay').style.display = 'none';

        $('body').css("overflow", "auto");

    }

</script>


</body>
</html>

{% endblock %}